.footer {
    flex-direction: row;
    background-color: #41797b;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    justify-content: center;
    width: 100%;
}

.about-us,
.contact-us {
    flex: 1;
    align-items: center;
    font-size: 120%;
    margin-top: 20px;
    padding: 50px 19px;
}

.namesandemails{
    display: flex;
    flex-direction: row;
}

.emails{
    margin-left: 160px;
}