.footer {
    flex-direction: row;
    /* background-color: rgba(0, 0, 0, 0.699); */
    background-color: #6b9080;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    justify-content: center;
    width: 100%;
}

.about-us,
.contact-us {
    flex: 1;
    align-items: center;
    font-size: 120%;
    margin-top: 20px;
    padding: 50px;
}
