.Login {
    /* max-height: 100vh; */
    /* width: 100%; */
    /* max-width: 100vw; */
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/1365425/pexels-photo-1365425.jpeg?auto=compress&cs=tinysrgb&w=900);
    background-size: 100% auto;
    height: 650px;
}
.Login .logincard {
    /* min-height: 600px; */
    /* width: 520px; */
    /* max-width: 520px; */
    /* padding: 24px 36px 0 36px; */
    border-radius: 30px;
    border: solid rgb(36, 89, 50) 2px;
    background-color: lightblue;
    padding: 60px;
    background: rgb(242, 250, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Login .logincard .error {
    background: #fe5421;
    background: rgba(245, 41, 41, 0.1);
    color: rgba(245, 41, 41, 1);
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.Login .logincard h1 {
    /* font-size: 2rem; */
    margin-bottom: 20px;
    font-weight: 700;
    color: black;
    line-height: 1.33;
}
.Login .logincard .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 10px;
}
.Login .logincard .form .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 8px 0;
}
.Login .logincard .form .input-field label {
    margin-bottom: 5px;
}
.Login .logincard .form .input-field input {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    border: solid 1px #ababb7;
    width: 100%;
    border-radius: 4px;
}
.Login .logincard .form .btn {
    width: 100%;
    height: 70px;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--deep-blue);
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.Login .logincard .footer {
    background: transparent;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    color: rgb(22, 80, 37);
    /* transform: translateY(42px); */
}