/* Position text in the middle of the page/image */
#background-image {
  position: absolute;
  object-fit: cover;
  object-position: 0px 0px;
  opacity: 1;
  /* background-color: black; */
  width: 100%;
  min-width: 90%;
  height: 1000px;
  top: 0px;
  z-index: -10;
}

.topPage {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  display: flex;
  border-radius: 25px;
  z-index: 2;
  width: 1000px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 260px;
}

.midPage {
  margin-top: 150px;
}

.bottomPage {
  margin-top: 5%;
}