#background-image {
  position: absolute;
  object-fit: cover;
  object-position: 0px 0px;
  opacity: 1;
  width: 100%;
  min-width: 90%;
  height: 800px;
  top: 0px;
  z-index: -10;
}

.topPage {
  position: relative;
}

.midPage {
  background-color: #eaf4f4;
  padding-top: 50px;

  padding-left: 20px;
  padding-right: 20px;

}

.bottomPage {
  background-color: #eaf4f4;
  padding-top: 50px;
}