.fun-facts {
    position: relative;
    animation: slideInAnimation ease 2s;
    animation-iteration-count: 1;
    /* background-color: #a4c3b2; */
    background-color: #a0c4cf;
    border-radius: 1px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 5px solid rgb(255, 255, 255);
    border-top: 2px solid white;
    height: auto;
    width: 480px;
    margin: 0 auto;
}

.facts-title {
    color: black;
    margin: 0px;
    padding-left: 20px;
    padding-top: 13px;
    margin-bottom: 19px;
    font-weight: bold;
}

.fact-card {
    animation: slideInAnimation ease 1s;
    animation-iteration-count: 1;
    position: relative;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    padding-left: 3px;
    padding-right: 3px;
    height: 111px;
    border-radius: 5px;
    background-color: rgb(248, 255, 255);
}

#fact {
    margin-top: 10px;
    color: rgb(35, 127, 231);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}