.infocard {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: block;
  background-color: #41797bee;
  width: 65%;
  min-width: 1236px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 5px;
}

.intro-info {
  position: relative;
  display: flex;
}

#cost-level {
  display: flex;
  margin-left: 55px;
  font-weight: bold;
  color:gold;
}

#cost-level p {
  margin: 0px;
  margin-right: 5px;
  margin-bottom: 20px;
  color: white;
}

.favorite-button {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-left: 55px;
  border: none;
  border-radius: 9px;
  background-color: rgb(16, 17, 17);
}

#favorite-image {
  height: 35px;
  padding-left: 5px;
}

.favorite-button p {
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 7px;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.map {
  width: 30%;
}

.dest-info {
  width: 70%;
  color: white;
}

.loc-info {
  padding-left: 55px;
  padding-right: 150px;
  position: relative;
  display: block;
  font-size: 17px;
  min-width: 500px;
}

.destination-title {
  font-size: 60px;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.title {
  position: relative;
  z-index: 2;
}

#background {
  position: absolute;
  object-fit: cover;
  width: 65%;
  min-width: 1100px;
  height: 500px;
  filter: brightness(50%);
}

.map {
  height: 500px;
  width: 550px;
}

.full-container {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
}

.infoAndActivities {
  position: relative;
  display: block;
  width: 24.5%;
  margin: 0 auto;
  padding-top: 25px;
}

.flights-section {
  padding-top: 25px;
  position: relative;
  margin: 0 auto;
  width: 39%;
}

.hotels-section {
  padding-top: 25px;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  width: 26%;
}

.flights {
  width: 100%;
}

.hotels {
  width: 100%;
  margin: 0 auto;
}

#cityname {
  font-size: 20px;
  font-weight: bold;
}

.loading {
  position: absolute;
  z-index: 12;
  background-color: rgb(187, 187, 186);
  width: 550px;
  height: 500px;
}

.loading img {
  display: block;
  margin: auto;
  padding-top: 140px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}