.infocard {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: block;
  background-color: rgba(231, 231, 231, 0.795);
  width: 90%;
  height: 1200px;
  margin: 0 auto;
  min-width: 1250px;
}

.intro-info {
  position: relative;
  display: flex;
}

.map {
  width: 30%;
}

.dest-info {
  width: 70%;
  color: white;
}

.loc-info {
  padding-left: 55px;
  padding-right: 150px;
  position: relative;
  display: block;
  font-size: 17px;
  min-width: 500px;
}

.destination-title {
  font-size: 60px;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.title {
  position: relative;
  z-index: 2;
}

#background {
  position: absolute;
  object-fit: cover;
  width: 90%;
  min-width: 1100px;
  height: 500px;
  filter: brightness(55%);
}

.map {
  height: 500px;
  width: 550px;
}

.full-container {
  position: relative;
  display: flex;
  color: rgb(0, 0, 0);
  height: 700px;
}

.infoAndActivities {
  position: relative;
  display: block;
  width: 50%;
  padding-left: 50px;
  padding-top: 50px;
}

.flightsAndHotels {
  padding-top: 50px;
  padding-left: 20px;
  display: flex;
  position: relative;
  right: 0px;
  gap: 20px;
  width: 70%;
}

.flights {
  width: 50%;
}

.hotels {
  width: 40%;
}

.activities-title {
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

#cityname {
  font-size: 20px;
  font-weight: bold;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}