.destinationCard {
  height: 350px;
  width: 250px;
  background: var(--pure-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#destimage {
  height: 250px;
  width: 248px;
  background-color: black;
  border-radius: 10px;
  object-fit: cover;
}

.destinationCard img:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: all .25s ease-in-out;
}

.titleRating{
  width: 250px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  color: black;
}

.titleRating:hover{
  color: #568203;
}

a:hover{
  text-decoration: none;
}

h3{
  margin-top: 5px;
  font-size: 20px;
}

.destinationTitle {
  padding-left: 10px;
  width: 90%;
}

.rating p {
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 20px;
}

.rating {
  display: flex;
  align-items: center;
}

.star-rating-container {
  display: flex;
}

.star {
  position: relative;
  color: #d3ab0d;
  font-size: 25px;
  top: -3px;
}
