.navbar {
    display: flex;
    padding-top: 0px;
    /* background-color: rgba(0, 0, 0, 0.699); */
    /* background-color: rgba(170, 222, 246, 0.699); */
    /* background-color: rgba(161, 220, 219, 0.699); */
    /* background-color: rgba(170, 222, 246, 0.699); */
    background-color: #004225be;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    height: 88px;
    padding-left: 3px;
}

  /* Style the links inside the navigation bar */
.navbar .link {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

  /* Change the color of links on hover */
.navbar .link:hover {
    /* background-color: #F8FAFC; */
    /* color: rgb(77, 79, 186); */
    color: #a4c3b2;
}

  /* Add a color to the active/current link */
.navbar .link.active {
    background-color: #04AA6D;
    color: white;
}

.link .signIn{
    border: 1px solid currentColor;
    border-radius: 0.375rem;
    color: #ffffffd3;
    background: transparent;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 500;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 2.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.link .register{
    border: 1px solid transparent;
    border-radius: 0.375rem;
    color: black;
    background: #eceff048;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 500;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 2.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar img{
    margin-left: 1px;
    margin-top: 3px;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
}

.other {
    padding-top: 5px;
    width: 85%;
    float:right;
}

.adjust {
    margin-top: 5.5px;
}