.carousel-control-prev {
  background-color: rgba(255, 255, 255, 0.849) !important;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  margin-top: 98px !important;
  margin-bottom: 95px !important;
  margin-left: 0px !important;
  width: 75px !important;
  height: 40px !important;
  top: -16px;
  color: rgb(7, 121, 102) !important;
  opacity: 100%;
}

.carousel-control-next {
  background-color: rgba(255, 255, 255, 0.849) !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  margin-top: 98px !important;
  margin-bottom: 95px !important;
  margin-right: 0px !important;
  width: 65px !important;
  height: 40px !important;
  top: -16px !important;
  right: 10px !important;
  color: rgb(7, 121, 102) !important;
  opacity: 100%;
}

.carousel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sliding {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* British Racing Green */
  color: #004225;
}

.image-container {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 200px;
  flex: 1;
  margin-right: 10px; /* Add margin to the right side of each image-container */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-text {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.carousel-indicators {
  bottom: 0; /* Position the indicators at the bottom of the carousel */
}