.carousel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sliding {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image-container {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 200px; /* Set a fixed height for the image containers */
  flex: 1; /* Allow each image-container to take equal space */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-text {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.carousel-indicators {
  bottom: 0; /* Position the indicators at the bottom of the carousel */
}

.carousel-control-prev,
.carousel-control-next {
  color: black; /* Change the color of the carousel controls */
  background-color: transparent; /* Add a semi-transparent background to the carousel controls for better visibility */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* Reset the invert filter to revert the icon colors to their original state */
}
